

#sidebar {
  background-color: #292A35;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
}
#sidebar.active {margin-left: -200px;}

@media (max-width: 768px) {
    #sidebar { margin-left: -200px; }

    /*header*/
    #sidebar > div > span { display: none }
    #sidebar > div > svg { margin-left: 180px;}

    /*list*/
    #sidebar ul { margin-left: 175px }
    #sidebar span { display: none }
    #sidebar.active { margin-left: 0; }
}

#sidebar .sidebar-header{ padding: 55px; padding-bottom: 100px;}

#sidebar ul li a {
  font-size: 16px;
  padding: 6px 0px 6px 6px;
  height: 68px;
  text-decoration: none;
  color: white;
  display: flex;
  border-radius: 40px 0px 0px 40px;
}

#sidebar ul{ padding-left: 40px;}
#sidebar ul li a:hover { background: #3C3E4F; }
#sidebar ul li a span{ padding: 15px 0px 0px 10px; }

#sidebar icon-circle {
  background-color: #81B29A !important;
  height: 50px;
  height: 50px;
}

/*content*/
#content {
  width: 100%;
}

#back-content { padding: 30px 50px 100px 50px}

.svgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 55px;
    width: 55px;
}
.svgcontainer > svg{
    fill: white;
    width: 28px;
    height: 28px;
    align-self: center;
}

#signout div{
    background-color: #e07a5f;
}

#signout svg{
    fill: #3D405B;
}








/**/
