#signup img{
  display: none;
  width: inherit;
}

#signup input, #signup select{
  background-color: #efefef;
  border-radius: 15px;
  border: none;
}

#buttonSignup{
    color: #fff;
    background-color: #28a745 !important;
}

#signup input[type=file]{
  background-color: #efefef;
  border-radius: 0px;
  border: none;
}
